<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Intranet{% endblock %}</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'images/company_logo.png' %}" alt="Company Logo" class="logo">

        <div class="auth-links">
            {% if user.is_authenticated %}
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var currentUrl = window.location.href;
                        if (currentUrl.includes('/worklog')) {
                            document.getElementById('company-logo').classList.add('hidden');
                        } else {
                            document.getElementById('company-logo').classList.add('small-top-right');
                        }
                    });
                </script>
                <nav class="navbar">
                    <a href="{% url 'worklog' %}">회사 업무 내용 입력</a>
					{% if request.user.is_authenticated %}               
                    {% if request.user.is_superuser %}
					 <a href="{% url 'user_list' %}">사용자 목록</a>
                    <!-- <li><a href="{% url 'user_list' %}">사용자 목록</a></li>                     -->
					{% endif %}
                    <form method="post" action="{% url 'logout' %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
					 <ul>
            
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
                </nav>
            {% else %}
                <div class="login-form">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <label for="username">ID</label>
                        <input type="text" id="username" name="username" required>

                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password" required>

                        <button type="submit">로그인</button>
                    </form>
                    <p style="text-align: center; margin-top: 10px;">
                        <a href="{% url 'signup' %}">회원가입</a>
                    </p>
                </div>
            {% endif %}
        </div>

    
    
</body>
</html>


        {% block content %}{% endblock %}
    </div>
	
	
</body>
</html>



